<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>MVC Group Planning!</title>
	<link href="/assets/css/datepicker.css" rel="stylesheet" type="text/css"/>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/assets/js/userEvent.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	 crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar justify-content-center navbar-expand navbar-dark bg-dark">
		<ul class="navbar-nav justify-content-center">
			<li class="nav-item active">
				<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/">Sign-Out</a>
			</li>
		</ul>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				{{{ body }}}
			</div>
			<div class="col-3"></div>
		</div>
	</div>
</body>

</html>