<h1 id="currentUser" data-id={{curr.id}}  > {{curr.name}}  Portal</h1><br>


<button  id="new_event">Create Event</button>

<button class="vote_button" data-id="{{singleUserEvent.id}}">Vote on Events</button>

<ul>
  {{#each allEvents}}
    {{> users/my-events}}
  {{/each}}
</ul>


You have been invited to the following events:

<ul>
  {{#each allEvents}}
    {{> users/pending_events}}
  {{/each}}
</ul>



