<h1 id="currentUser" data-id={{singleUserEvent.id}} data-name={{singleUserEvent.name}} > {{singleUserEvent.name}}  Portal</h1><br>




<button  id="new_event">Create Event</button>


<ul>
  {{#each allEvents}}
    {{> users/my-events}}
  {{/each}}
</ul>


You have been invited to the following events:

<ul>
  {{#each allEvents}}
    {{> users/pending_events}}
  {{/each}}
</ul>



