<h1 id="currentUser" data-id={{singleUserEvent.id}} data-name={{singleUserEvent.name}} > {{singleUserEvent.name}}  Portal</h1><br>


<button  id="new_event">Create Event</button>

<button class="vote_button" data-id="{{singleUserEvent.id}}">Vote on Events</button>

<ul>
  {{#each allEvents}}
    {{> users/my-events}}
  {{/each}}
</ul>
