body { 
    background: url(https://pa1.narvii.com/5947/46d8487370b10fe5c797922c14edc428c791a141_hq.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Anton', sans-serif;
  }

  button {
      background-color: #F6C5DB;
  }

.test{
    background-color: rgba(173, 165, 186, .5);
    border-radius: 25px;
    font-weight: bolder;
}

input[type="text"], textarea {

    background-color : #d1d1d1; 
    border-radius: 25px;
  
  }