<li>
	{{title}}
	<form action="/event/{{id}}" method="POST">
		<input name="newTitle" placeholder="Enter new title">
		<button type='submit'>submit</button>
	</form>
	<button class="deleteEvent" data-id="{{id}}">Delete Event</button>
</li>