<li>
	{{title}}
	<form class="update-form" data-id="{{id}}" method="PUT">
		<input name="newTitle" type="text" id="newTitle" placeholder="Enter new title">
		<button type='submit'>submit</button>
	</form>

	<button class="deleteEvent" data-id="{{id}}">Delete Event</button>
</li>