<li>
	{{title}}
	<form class="update-form" data-id="{{id}}" method="PUT">
		<div class="form-group">
			<input name="newTitle" type="text" id="newTitle_{{id}}" placeholder="Enter new title">
			<button class="btn btn-default" type='submit'>submit</button>
		</div>
	</form>

	<button class="btn btn-default deleteEvent" data-id="{{id}}">Delete Event</button>
	<br>
	<br>
</li>