<li>
	{{title}}
	<form action="/updateEvent/{{this.id}}" method="POST">
		<input name="newTitle" placeholder="Enter new title">
		<button type='submit'>submit</button>
	</form>
	<button class="deleteEvent" data-id="{{this.id}}">Delete Event</button>
</li>