<li>
	{{title}}
	<form class="update-form" data-id="{{id}}" method="PUT">
		<div class="form-group">
			<input name="newTitle" type="text" id="newTitle_{{id}}" placeholder="Enter new title">
			<button type='submit'>submit</button>
			<button class="deleteEvent" data-id="{{id}}">Delete Event</button>
		</div>
	</form>

</li>